body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.del-btn {
  color: red;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.title {
  display: inline-block;
  margin: 5px 10px 0;
}